.Navbar {
  &--InnerContainer {
    min-height: 56px;
    max-width: var(--container-4);
    width: 100%;
    margin: 0 auto;

    display: flex;
    align-items: center;

    padding-inline: var(--space-4);
  }

  &--Links {
  }

  &--Profile {
    margin-left: auto;
  }
}

.NavbarProfile {
  // reset button colour
  color: inherit;

  display: flex;
  align-items: center;

  &--Text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &--Avatar {
    margin-left: var(--space-3);
  }
}
